@model MathSeer.UI.Models.UserLogin
@{
    ViewData["Title"] = "User Login";
}

<h1>UserLogin</h1>
@using (Html.BeginForm("CheckLogin", "Auth", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.AntiForgeryToken()
    </div>
    <div class="form-group">
        <input class="btn-primary btn-lg" type="submit" name="Submit"/>
    </div>
}

<div>
    Not Registered? Click <a href="/auth/register">Here!</a>
</div>  


